<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search GitHub Repositories</title>
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/index.css">
    {% block scripts %}
    {% endblock scripts %}
</head>
<body>
    <header>
        <div>
            <img src="/img/github.svg" id="img-github" alt="github">
        </div>
        <div>
            <a href="/">Home</a>
            <a href="/favourites">Favoritos</a>
        </div>
        
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>